﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<svg></svg>
<div class="col-md-3">
    <div class="row">
        <input class="form-control" type="text" id="Currency" placeholder="Currency Code">
    </div>
    <div class="row">
        <button type="button" class="btn btn-dark" onclick="SearchClick()">Search</button>
    </div>



</div>
